
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 209, 209);
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mode-select {
    display: flex;
    align-items: center;
    padding: 10px;
}

#select-mode {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

#go-button {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#mode-display {
    margin-left: 10px;
}

#input-box {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 880px;
    height: 130px;
    background-color: white;
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
}

#search-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}
.description-box {
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 350px;
    height: 120px;
    margin-top: 110px;
    margin-left: 20px;
}

}


form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

button[type="submit"] {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#input-field {
    flex: 1;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

#post-button {
    align-self: flex-end;
    margin: 10px;
}

#picture-container {
    
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px; 
    grid-row-gap: 30px; 
}

.koala-img {
    top: 05px;
    left:00%;
    right:70%
    width: 120px;
    height: 120px;
    position: relative;
    grid-column: 1; /* specify which column the image should be in */
}

.monitor-img {
    top: 9px;
    left:0;
    width: 120px;
    height: 120px;
    position: relative;
    grid-column: 2; /* specify which column the image should be in */
}

.description-box {
    margin-top: 10px; /* add space between the description and the image */
    margin-left: 10px; /* add space between the description and the image */
}

#picture-1, #picture-2 {
    display: flex;
    align-items: center;
}

#support {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

button {
    background-color: #333333;
    color: #FFFFFF;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    }

    sos-button {
        background-color:red;
        }
    
    
    #picture-1 {
    grid-row: 1; 
    }
    
    #picture-2 {
    grid-row: 2; 
    }
    
    .description-box h2 {
    font-size: 1.2em;
    margin: 0;
    }
    
    .description-box p {
    font-size: 1em;
    margin: 0;
    }
    
    #support a {
    color: #333333;
    text-decoration: none;
    margin-left: 10px;
    }
    
    #support a:hover {
    color: #FFFFFF;
    }
    
   
    #sign-out-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #333333;
        color: #FFFFFF;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        } 
    
    
