

body {
margin: 0;
padding: 0;
background-color: rgb(238, 244, 245);
}


.header {
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}


.header-left {
display: flex;
}

.sos-button,
.support-button,
.faq-button {
background-color: rgb(0, 0, 0);
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
margin-right: 10px;
}

.sos-button {
background-color: red;
}

/* Header Right Styles */
.header-right {
display: flex;
}
.top-right-buttons {
position: relative;
display: flex;
justify-content: flex-end;
align-items: center;
}

.home-button,
.my-account-button,
.signout-button {
margin-left: 10px;
background-color: rgb(0, 0, 0);
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}

/* Search Bar Styles */
.search-bar {
position: absolute;
top: 50px;
left: 50%;
transform: translateX(-50%);
display: flex;
}
  
  .search-bar input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 10px;
    flex: 1;
  }
  
  .search-bar button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Big Box Styles */
  .big-box {
    margin-left: 180px;
    margin-right: 1000px;
    margin-top: 200px;
    border: 5px solid black;
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;

  }
  
  .big-box2 {
    margin-left: 20px;
    margin-right: 1000px;
    margin-top: 05px;
    border: 5px solid black;
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 700px;
    top: 197px;
    


  }


  .image-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .name {
    margin-bottom: 10px;
  }
  
  .image-1,
  .image-2,
  .image-3 {
    width: 125px;
    height:97px;
    border-radius: 27%;
  }
  
  .task-box {
    background-color: #000000;
    padding: 10px;
    margin-top: 10px;
    width: 97%;
    text-align: center;
    height: 27%;
    color: azure;
  }
  .toggle-switch {
    appearance: none;
    width: 40px;
    height: 20px;
    background: gray;
    border-radius: 20px;
    position: relative;
    }

    .toggle-switch::before {
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background-color: white;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: all 0.2s ease;
    }
    
    .toggle-switch:checked::before {
        left: calc(100% - 19px);
    }
    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: column; 
        margin-bottom: -169px; 
        margin-right: 500px;
        
    }

    .button-A,.button-B,.button-C, .button-D {
    margin-top: 100px;
    margin-bottom: -100px;
    margin-right: 10px;
    background-color: rgb(138, 212, 41);
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    margin-right: 100px;
    width: 270px;
    height: 57px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    }
  
     .button-A, .button-B, .button-C, .button-D {
        border: 1px solid rgb(109, 221, 22);
    }

    .button-A{
        margin: -50px;
        padding: 5px 10px;
        border: 1px solid rgb(218, 175, 175);
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        }
        
        .button-B {
        margin: -50px;
        padding: 5px 10px;
        border: 1px solid rgb(27, 218, 135);
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        }
        
        .button-C {
        margin:-50px;
        padding: 5px 10px;
        border: 1px solid rgb(198, 227, 239);
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        }
        
        .button-D {
        margin: -50px;
        padding: 50px 90px;
        border: 1px solid rgb(239, 221, 221);
        font-size: 16px;
        font-weight: bold;
        }    
    